<div class="base">
    <div class="content">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="main">
        <div>
          <label for="username">اسم المستخدم</label>
          <input
            type="text"
            id="username"
            formControlName="username"
            placeholder="اسم المستخدم"
            required
          />
          <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
            <small class="error">اسم المستخدم مطلوب</small>
          </div>
        </div>
        <div>
          <label for="password">كلمة المرور</label>
          <input
            type="password"
            id="password"
            formControlName="password"
            placeholder="كلمة المرور"
            required
          />
          <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
            <small class="error">كلمة المرور مطلوبة</small>
          </div>
        </div>
        <button type="submit" [disabled]="loginForm.invalid">دخول</button>
      </form>
    </div>
  </div>
  